nav.navbar{
    background-color: blue;
    font-family: Verdana, serif;
    font-size: 12px;
    width:100%;
    height: fit-content;
    font-weight: bold;
    padding-top: 24px;
    z-index: 5;
}

div{
    width: 100%;
    vertical-align: middle;
}

ul.menu{
    height: 50%;
    vertical-align: middle;
    list-style-type: none;
    padding-left: 2.5%;
    padding-right: 2.5%;
    color: white;
    overflow: hidden;
}

ul.menu li{
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    vertical-align: middle;
}

ul.menu li.left{
    float:left;
}

ul.menu li.right{
    float:right;
}