div.background img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

div.mainDiv{
    height: 50%;
    width: 50%;
    margin: 12.5% auto 25%;
    background-color: aliceblue;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    padding: 5%;
}

div.secondDiv{
    vertical-align: middle;
}