div.background img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

div.mainBody{
    align-self: center;
    background-color: gray;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    position: absolute;
    scale: 80%;
    padding: 2em;
    align-content: center;
}